.col-wrapper.col-sm-3
  .col-wrapper-inner
    %h5
      =t(:contract_info)

    %dl.row
      %dt.col-sm-5
        ="#{t(:name)}:"
      %dd.col-sm-7.contract-name

      %dt.col-sm-5
        ="#{t(:type)}:"
      %dd.col-sm-7.contract-type

      %dt.col-sm-5
        ="#{t(:currency)}:"
      %dd.col-sm-7.contract-currency

      %dt.col-sm-5
        ="#{t(:preseller)}:"
      %dd.col-sm-7.contract-preseller

      %dt.col-sm-5
        ="#{t(:subdivision)}:"
      %dd.col-sm-7.contract-subdivision

.col-wrapper.col-sm-5
  .col-wrapper-inner
    %h5
      =t(:contractor_info)

    %dl.row
      %dt.col-sm-4
        ="#{t(:name)}:"
      %dd.col-sm-8.contractor-name

      %dt.col-sm-4
        ="#{t(:code)}:"
      %dd.col-sm-8.contractor-code

      %dt.col-sm-4
        ="#{t(:state_id)}:"
      %dd.col-sm-8.contractor-state-id

      %dt.col-sm-4
        ="#{t(:physical_address)}:"
      %dd.col-sm-8.contractor-physical-address

      %dt.col-sm-4
        ="#{t(:legal_address)}:"
      %dd.col-sm-8.contractor-legal-address

      %dt.col-sm-4
        ="#{t(:type)}:"
      %dd.col-sm-8.contractor-type
