.col-wrapper.col-sm-3
  .col-wrapper-inner
    %h5
      =t(:contract_info)

    %dl.row
      %dt.col-sm-6
        ="#{t(:contract_name)}:"
      %dd.col-sm-6.contract-name

      %dt.col-sm-6
        ="#{t(:contract_type)}:"
      %dd.col-sm-6.contract-type

      %dt.col-sm-6
        ="#{t(:currency)}:"
      %dd.col-sm-6.contract-currency

      %dt.col-sm-6
        ="#{t(:preseller)}:"
      %dd.col-sm-6.contract-preseller

      %dt.col-sm-6
        ="#{t(:subdivision)}:"
      %dd.col-sm-6.contract-subdivision

.col-wrapper.col-sm-6
  .col-wrapper-inner
    %h5
      =t(:contractor_info)

    %dl.row
      %dt.col-sm-5
        ="#{t(:contractor_name)}:"
      %dd.col-sm-7.contractor-name

      %dt.col-sm-5
        ="#{t(:contractor_code)}:"
      %dd.col-sm-7.contractor-code

      %dt.col-sm-5
        ="#{t(:contractor_state_id)}:"
      %dd.col-sm-7.contractor-state-id

      %dt.col-sm-5
        ="#{t(:contractor_physical_address)}:"
      %dd.col-sm-7.contractor-physical-address

      %dt.col-sm-5
        ="#{t(:contractor_legal_address)}:"
      %dd.col-sm-7.contractor-legal-address

      %dt.col-sm-5
        ="#{t(:contractor_type)}:"
      %dd.col-sm-7.contractor-type
